@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-btn-color: #2A5FCF;
  --main-bg-btn-hover-color:#134bc4;
}

*{
  margin: 0px;
}
header{
  height: 80px;
  /* background-color: #6DB935; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  color: var(--main-bg-btn-color);
  /* color: #6DB935; */
  margin-left: 20px;
}
.loginBtn{
  background-color: var(--main-bg-btn-color);
  /* background-color: #6DB935; */
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin: 8px 20px;
  border: none;
  cursor: pointer;
  width: 7%;
  /* opacity: 0.9; */
  font-size: 12px;
  border-radius: 5px;
}
.loginBtn:hover{
  background-color: var(--main-bg-btn-hover-color);
  /* background-color: #5aa723; */
}

/* Блок с поиском поездок */
.SearchSection{
  height: 344px;
  /* background-image: url(../public/bronirovanie-biletov-na-avtobus-onlajn-otvety-na-7-voprosov.png); */
  background-position:center;
  display: flex;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: space-evenly;  
  align-items: flex-start;

}
.SearchTitle{
  height: 50%;
}
.SearchTitle > h2{
  margin: 0;
  font-size: 40px;          
  color: white;
  margin-left: 35px;
}
.SearchTitle  > h4{
  margin: 0;
  margin-top: 15px;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.79);
  text-align: left;
  margin-left: 35px;
}
.SearchForm{
  display: flex;
  width: 100%;
  height: 50px;
}
.inputSection{
  width: 20%;
  height: 100%;
}

.inputSection:first-child{
  margin-left: 35px;
}
.SearchParamsInput{
  width: 96.6%;
}
.inputSection > select{
  height: 100%;
}
.buttunWrap{
  width: 15%;
  height: 100%;
}
.searchButton{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: none; */
  width: 100%;
  height: 110%;
  background-color: var(--main-bg-btn-color);
  /* background-color: #6DB935; */
  font-size: 15px;
  /* color: white; */
  font-weight: bold;
}
.searchButton:hover{
  background-color: var(--main-bg-btn-hover-color);
}



